<br>
<div class="jumbotron">
  <h1>Inciar Sesi&oacute;n</h1>
  <p class="lead">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1" style="padding-right: 37px;">Usuario</span>
      <input type="text" class="form-control" placeholder="usuario" ng-model="login.user">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Contrase&ntilde;a</span>
      <input type="password" class="form-control" placeholder="********" ng-model="login.pass">
    </div>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/" ng-click="login.testLogin()">Entrar&nbsp;<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
