<br>
<div class="jumbotron" style="background-color: rgb(127, 190, 222); color: white;">
	<h1 class="">Medicamentos</h1>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    <center>Buscar:</center>
  </div>
  <div class="col-md-10">
    <input type="text" ng-model="main.buscador" style="width: 100%;">
  </div>
</div>
<br/>
<div class="row" style="border: 1px solid #aaa; border-radius: 5px;">
	<div class="col-md-1"></div>
	<div class="col-md-2"><small>ID_MEDICAMENTO</small></div>
	<div class="col-md-3"><small>NOMBRE_MEDICAMENTO</small></div>
	<div class="col-md-3"><small>CANTIDAD_DISPONIBLE</small></div>
	<div class="col-md-2"><small>LABORATORIO</small></div>
</div>
<br/>
<div class="lista-medicamentos clusterize-scroll" id="scrollArea">
	<div class="row clusterize-content" ng-repeat="med in main.meds | filter:main.buscador" id="contentArea">
		<div class="col-md-1"><input type="radio" name="selectedRow" value="{{ med.id }}" ng-model="main.selectedRow" ng-click="main.onRowSelected()"></div>
		<div class="col-md-2">{{ med.id }}</div>
		<div class="col-md-3">{{ med.nombre }}</div>
		<div class="col-md-3" style="{{ 'color:' + med.color + ';' }}">{{ med.cantidad }}</div>
		<div class="col-md-2">{{ med.lab }}</div>
	</div>
</div>

<hr/>

<!-- INICIO ACCORDION -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <center><button class="btn btn-primary collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="$('.collapse').collapse('toggle')" aria-expanded="false" aria-controls="collapseTwo" disable="{{ main.disableEdition }}">
          Panel de edici&oacute;n
        </button></center>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row campos">
          <div class="col-md-3">ID_MEDICAMENTO</div>
          <div class="col-md-9">
            <input style="width: 100%;" type="text" name="campoID" value="" ng-model="main.selected.id">
          </div>
        </div>

        <br/>

        <div class="row campos">
          <div class="col-md-3">NOMBRE_MEDICAMENTO</div>
          <div class="col-md-9">
            <input style="width: 100%;" type="text" name="campoNombre" value="" ng-model="main.selected.nombre">
          </div>
        </div>

        <br/>

        <div class="row campos">
          <div class="col-md-3">CANTIDAD_DISPONIBLE</div>
          <div class="col-md-9">
            <input style="width: 100%;" type="text" name="campoCantidad" value="" ng-model="main.selected.cantidad">
          </div>
        </div>

        <br/>

        <div class="row campos">
          <div class="col-md-3">LABORATORIO</div>
          <div class="col-md-9">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%;">
                {{ main.selected.lab_nombre }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 100%; height: 125px; overflow-y: scroll; overflow-x: hidden;">
                <li ng-repeat="lab in main.labs"><a ng-click="main.onLabSelected(lab.id, lab.nombre)">{{ lab.nombre }}</a></li>
                <!-- li role="separator" class="divider"></li -->
              </ul>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row botones">
          <div class="col-md-2">
            <button class="btn btn-default" ng-click="main.exit()" style="width: 100%;">Salir</button>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-9">
            <div class="btn-group button-group-justified" role="group">
              <a type="button" class="btn btn-success" ng-click="main.insert()">Insertar</a>
              <a type="button" class="btn btn-warning" ng-click="main.modify()">Modificar</a>
              <a type="button" class="btn btn-danger" ng-click="main.delete()">Borrar</a>
              <a type="button" class="btn btn-info" ng-click="main.clean()">Limpiar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN ACCORDION -->

<br/><p><a ng-click="main.doMagic()" id="botonMagico"></a></p>

<script>
  var clusterize = new Clusterize({
    scrollId: 'scrollArea',
    contentId: 'contentArea'
  });
</script>
